<!-- <button type="button" id="advanced-search" class="btn btn-info" data-toggle="modal" data-target="#searchModal" data-whatever="Search">Custom Search</button> -->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= render 'searches/form' %>
    </div>
  </div>
</div>
