<% @items.each do |item| %>
  <p><strong><%= item.name %></strong></p>
  <p>Category: <%= item.category.name %></p>
  <p>Description: <%= item.description %></p>
  <p>Price: <%= item.sale_price %></p>
<% end %>
