  <!-- <#% @items.each_slice(1) do |group| %> -->

  <div class="container" id="searchResults">
    <% @items.each do |item| %>
    <%= render '/items/singleItem', item: item %>
    <% end %>
  </div>
