<hr />
<div class="row">
  <div class="col-lg-12">
    <form class="simple-search-field" action="/items" accept-charset="UTF-8" method="get">
      <div class="input-group">
        <input type="text" name="search" value="" class="form-control search-field" placeholder="Search for an item...">
        <span class="input-group-btn">
          <input type="submit" name="commit" value="search" class="btn btn-default search-button" data-disable-with="search">
        </span>
      </form>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default search-button" data-toggle="modal" data-target="#searchModal" data-whatever="Search">Custom Search</button>
        </span>
    </div>
  </div>
</div>
<%= render './searches/new' %>
<hr />

<%= render 'items' %>
