<hr />
<div class="row">
  <div class="col-lg-12">
    <form class="simple-search-field" action="/items" accept-charset="UTF-8" method="get">
      <div class="input-group">
        <input type="text" name="search" id="search-field" value="Beetroot" class="form-control simple-search" autofocus="autofocus" placeholder="Search for an item...">
        <span class="input-group-btn">
          <input type="submit" id="simple-search-button" name="commit" value="search" class="btn btn-default simple-search-button" data-disable-with="search">
        </span>
      </form>
        <span class="input-group-btn">
          <button type="button" id="advanced-search" class="btn btn-info" data-toggle="modal" data-target="#searchModal" data-whatever="Search">Custom Search</button>
        </span>
    </div>
  </div>
</div>
<%= render './searches/new' %>
<hr />

<%= render 'items' %>
