<div class="container content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="reviews">
            	<div class="active item">
                  <blockquote><p>Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.</p></blockquote>
                  <div class="carousel-info">
                    <img alt="" src="http://keenthemes.com/assets/bootsnipp/img1-small.jpg" class="pull-left">
                    <div class="pull-left">
                      <span class="reviews-writer">Lina Mars</span>
                      <span class="reviews-post">Commercial Director</span>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<center>
<strong>Powered by <a href="http://j.mp/metronictheme" target="_blank">KeenThemes</a></strong>
</center>
<br>


<!-- <% @reviews.each do |review| %>
  <div>
    <p><%= review.body %></p>
  </div>
  <div>
    <strong>Rating: <%= review.rating %></strong>
  </div>
  <%= link_to "Delete", [@store, @item, review],
                    method: :delete,
                    data: {confirm: 'Are you sure?'} %>
<% end %> -->
