<!-- <footer>
  <nav class="navbar navbar-default navbar-bottom" role="navigation">
    <div class="container">
      <h1>Hello World</h1>
    </div>
  </nav>
</footer> -->
<footer>
  <nav class="navbar navbar-default navbar-fixed-bottom center-block">
    <div class="container">

      <!-- <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" id="hamburger-button-footer" data-toggle="collapse" data-target="#navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div> -->
      <!-- <a class="navbar-brand" href="#">Easy Finder</a> -->

      <div class="col-md-12">
        <ul class="social-network social-circle">
          <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
          <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
        </ul>
			</div>

      <!-- <div class="collapse navbar-collapse" id="navbar-collapse-2">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/items">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <ul class="collapse nav navbar-nav nav-collapse" id="nav-collapse2">
          <li><a href="#">Web design</a></li>
          <li><a href="#">Development</a></li>
          <li><a href="#">Graphic design</a></li>
          <li><a href="#">Print</a></li>
          <li><a href="#">Motion</a></li>
          <li><a href="#">Mobile apps</a></li>
        </ul> -->
      </div>
    </div>
  </nav>
</footer>
